.mod {
    height: 210px;
    font-size: 18px;
    text-align: left;
    overflow: hidden;
}

.pagination {
    margin-top: 30px;
    justify-content: center;
}

.page-link {
    background-color: transparent !important;
    color: white;
}


/* Estilos de la tabla */

.vewPlantS {
    margin: auto;
    border-collapse: collapse;
}

.responsive {
    display: flex;
    width: 90%;
    margin: auto;
}

.divCar {
    width: 600px;
}

.resi {
    justify-content: center;
}

.table {
    box-shadow: 1px 0px 15px rgba(255, 255, 255, 0.281);
    margin: auto;
    text-align: left;
    font-size: 17px;
    width: 90%;
    margin-bottom: 20px;
}

.listaResidents {
    font-size: 17px;
    justify-content: center;
}

.contRes {
    box-shadow: 1px 0px 20px rgba(255, 255, 255, 0.281);
    margin: 8px 0px;
}

.cajaBor {
    box-shadow: 1px 0px 20px rgba(157, 156, 156, 0.281);
}

.eresDelP {
    vertical-align: middle;
}